img{
    max-width: 100%;
}
a:focus, a:hover{
    color: #000;
}

.text-center{
    text-align: center;}
.first-view{
    background-image: url(../images/line-commuters.232f9009.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.buttons{
    padding-top: 90%;
}

.btn{
    min-width: 100%;
}

.btn-primary{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    
}
.btn-primary:hover{
    color: #fff;
    background-color: #B80B8C;
    border-color: transparent;
}
.btn-lyft{
    color: #fff;
    background-color: #B80B8C;
    
}
.btn-lyft:hover{
    color: #fff;
    background-color: 
}
.header{
    text-align: center;
}
select.form-control{
    display: inline;
}
input.form-control{
    display: inline;
}
/*input { font-family: 'FontAwesome'; }*/
.checkbox label{
    text-align: center;
}
ul{
    padding-left: 3px;
}
li.pais-item{
    list-style-type: none;
    border-bottom: 1px solid #D1D1D1;
}
li.pais-item a{
    display: block;
    padding: 2%;
    color: #333447;
    text-decoration: none;
    transition: .3s;
}
li.pais-item a:hover{
    background-color: #e6e6e6;
}
li.pais-item span{
    padding-left: 20px;
}


/* mapa */

#map {
    height:400px;
    width:550px;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}